<ion-header no-border>
  <ion-navbar >
    <ion-title>
      <div id ="title">
        Defect Chart
      </div>
     
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
    
          <ion-label text-center class="heading">Total Count</ion-label>
          <ion-label text-center class="valuetext">{{totalCount}}</ion-label>
      </ion-col>
      <ion-col>
          <ion-label text-center class="heading">Total Defects</ion-label>
          <ion-label text-center class="valuetext">{{defectsCount}}</ion-label>
      </ion-col>
      <ion-col>
          <ion-label text-center class="heading">Total Defect Ratio</ion-label>
          <ion-label text-center class="valuetext">{{defectRatio}}</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-card id = "barchart">
    <ion-card-header id="header">
      Defects in Last 10 minutes
    </ion-card-header>
    <ion-card-content id="card">
      <canvas #barCanvas height="400px" width="300"></canvas>
    </ion-card-content>
  </ion-card>
</ion-content>

