
.card-content{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
}
#barchart{
    width: 70%;
    align-self:center;
}
#card{
    width: 100%;
    align-self: center;
}
.chartjs-render-monitor{
    margin-left: 0px;
}
.card-md{
    margin-left: 14%;
    margin-right: 8%;
    margin-top: 5%;
}
.chart-container{
    height: 10px;
    width: 200px;
}
#header{
    color: C91A1F;
}
#title{
    color:white;
    text-align: center;
}
.toolbar-background-md{

    background-color:darkslategray;
}
.heading{
	font-size:12px;
}

.valuetext{
	font-size: 30px;
    font-style: inherit;
    font-weight: 500;
}